* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFCC00;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.big-container {
    width: 97%;
    max-width: 1200px;

}

.small-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.banner-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.some-space {
    width: 97vw;
    height: 25px;
    max-width: 1200px;

}

.bi {
    font-size: 2em;
    color: #000000bf;
}

.icon-container {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.dots-container {
    display: flex;
    justify-content: center;
}

.tab {
    /* border: black 1px solid; */
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

.button {
    border: black 1px solid;
    height: 70px;
    width: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.tab-hover-active {
    background-color: #373737;
    color: white;
    /* font-weight:bold; */
    box-shadow: inset 0px 2px 5px #000000, inset 0px -2px 5px #000000;
}

img {
    width: 100%
}

img.banner {
    width: 97vw;
    max-width: 1200px;
}

.dot-space {
    width: 4px;
}

.icon-space {
    width: 15px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 0.2px #00000051;
    border-style: outset;
}

.active {
    background-color: rgba(0, 0, 0, 0.618);
}

.dot-hover-active {
    background-color: rgba(0, 0, 0, 0.618);
}

.big-photo-box-container {
    /* background-color: rgba(160, 58, 58, 0.466); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.big-photo-box-container-2 {
    /* background-color: rgba(160, 58, 58, 0.466); */
    display: block;

}

.photo-box-container {
    background-color: white;
    width: 23.5%;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.photo {
    margin: 12px;
}

.read-more-button {
    background-color: #FFCC00;
    width: 50%;
    font-size: 0.7rem;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    transition: all 0.5s;
}

.read-more-button:hover{
    background-color: #000000;
    color: #FFCC00;
    cursor:pointer;
}

.photo-title {
    padding: 3px;
    padding-bottom: 0;
    font-size: 0.9rem;
    font-weight: bold;
}

.photo-sub-title {
    padding: 0 3px;
    font-size: 0.7rem;
    font-weight: light;
    color: grey;
}

.card {
    position: absolute;
    right: 5%;
    bottom: 5%;
    border: 0;
}

.bold-title {
    font-weight: bold;
}

.first-column-container {
    width: 23.5%;
}

.upcoming-events {
    background-color: #000000;
    height: 100px;
}

.second-column-container {
    width: 49%;
}

.latest-news {
    background-color: #ffffff;
    /* position: relative; */
}

.latest-news-photo {
    position: relative;
}

.latest-news-date {
    position: absolute;
    left: 5%;
    bottom: 0%;
    background-color: #333333;
    height: 6rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}



.third-column-container {
    width: 23.5%;
}

.upcoming-events {
    background-color: #000000;
    height: auto;
}

.upcoming-events-date{
    background: #333333;
    height: 6rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}

.upcoming-events-date.paler{
    background-color: #444444;
}

.latest-album {
    background-color: #000000;
    height: 100px;
}

.day {
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

.month {
    color: white;
    font-size: 0.6rem;
    font-weight: light;
    text-align: center;

}

.year {
    color: white;
    font-size: 0.6rem;
    text-align: center;

}

.latest-news-content-box{
    position:relative;
    margin: 0 5%;
}

.yellow-shit {
    position:absolute;
    left: 0%;
    top: 0%;
    height:5px;
    width: 4rem;
    background-color: #FFCC00;
}

.latest-news-content-topic {
    background-color: white;
    padding: 2rem 0;
    font-size: 1.5rem;
    text-decoration: underline #FFCC00;
}

.latest-news-content-source {
    background-color: white;
    padding: 1rem 0;
    border-top: 3px double #eeeeee;
    border-bottom: 3px double #eeeeee;
    font-size: 0.8rem;
    color: #888888;
}

.latest-news-content {
    background-color: white;
    height: auto;
    padding: 1rem 0 2rem 0;
    color: #888888;
    font-size: 0.8rem;

}

.yellow-underline {
    text-decoration: underline #FFCC00 1px;
    color: #555555;
    transition: all 0.5s;
}

.yellow-underline:hover {
    cursor:pointer;
}

.upcoming-events-event{
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    width: 75%;
    padding: 5px;
}

.upcoming-events-items {
    display: flex;
}

.upcoming-events-title {
    font-weight: bold;
}

.upcoming-events-sub-title{
    color: #888888;
    font-size: 0.8rem;
    margin-bottom:0.6rem;
}

.latest-album-content {
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: center;
    align-items: start;
}

.play-button {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.play-button {
    cursor: pointer;
}

.latest-album-content-header{
    background-color: #ffffff;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: start;
}

.latest-album-title {
    font-weight: bold;
    font-size: 0.9rem;
}

.latest-album-sub-title {
    color: #888888;
    font-size: 0.8rem;
}

