body {
    height: 100vh;
    background-color: #ffcc02;
}
.header-container {
    padding-top: 50px;
    margin-bottom: 5%;
}
.media-group {
    height: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: end;
    font-size: 18px;
}
.media-group > div {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    color: #ffcc02;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.menus-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #fff;
    font-size: 12px;
}
.active {
    background-color: #353535;
    color: #fff;
}
.menus-bar > div {
    height: 62px;
    padding: 20px
}
.menus-bar > div:hover {
    background-color: #353535;
    color: #fff;
}

.carousel-indicators > button {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    margin-bottom: -8rem;
}

.carousel-indicators > button.active {
    background-color: black;
}

.carousel-indicators {
    margin-bottom: 0px !important;
}

.carousel-item {
    position: relative;
}
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 140px;
    width: 260px;
    background-color: rgba(0,0,0,0.8);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-container > .text {
    text-align: center;
    padding: 25px 10px 25px 10px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 20px;
}
.read-more {
    margin-top: 10px;
    font-size: 12px;
}
.navbar-brand {
    width: 60%;
    font-size: 16px !important;
}

#navbarText > div {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

@media (min-width: 959px) { 
    .menus-bar-container {
        display: block;
    }
    .navbar {
        display: none;
    }
}
@media (max-width: 959px) { 
    .menus-bar-container {
        display: none;
    }
    .navbar {
        display: block;
    }
}
